[Desktop Entry]
Version=1.2.9
Type=Application
Name=Slic3r
GenericName=Slic3r
Comment=G-code Generator for 3D Printers
Exec=/usr/bin/Slic3r/bin/slic3r --datadir /etc/guest-session/slic3r/
Categories=Printing;Education;Graphics
Icon=/usr/bin/Slic3r/res/Slic3r.png
Terminal=false
StartupNotify=true




