[Desktop Entry]
Version=1.01.0017
Type=Application
Name=Energia
GenericName=Energia
Comment=TI Microcontroller Prototyping IDE
Exec=/usr/bin/energia-1.8.7E21/energia
Categories=Development;Electronics;IDE;
Icon=/usr/bin/energia-1.8.7E21/lib/icons/128x128/apps/energia.png
Terminal=false
StartupNotify=true

